.user-list {
  &__container {
    display: block;
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 40px;
    box-shadow: $box-shadow;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    caption {
      font-size: 2em;
      margin-bottom: 20px;
      color: $color-primary;
    }

    thead th,
    thead td {
      border-color: #333;
      border-width: 2px;
      text-transform: uppercase;
    }

    th,
    td {
      text-align: left;
      padding: 20px 0;
      border-bottom: 1px solid #999;
    }

    tbody tr:last-child td,
    tbody tr:last-child th {
      border: none;
    }

  }
}