


// H* tags
$class-slug: h !default
$h-biger-size: 3;

@for $i from 1 through 6 {
  #{$class-slug}#{$i} {
    font-size: #{$h-biger-size}rem;
  }
  .#{$class-slug}#{$i} {
    font-size: #{$h-biger-size}rem;
  }
  $h-biger-size: $h-biger-size - 0.5;
}
