$acc-width: 3 !default;

@mixin acc-hide($type: absolute) {
  @if $type == clip {
    border: none !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  } @else if $type == indent or $type == text-indent {
    text-indent: -9999px !important;
  } @else if $type == absolute {
    position: absolute !important;
    left: -9999px !important;
  }
}


.u-acc {
  &-hide {
    @include acc-hide(clip);
  }

  &-txt--show {
    display: block;
    .is-open &, .is-active &, .is-selected &, :checked ~ label &, :checked ~ .o-ci-label & {
      display: none;
    }
  }

  &-txt--hide {
    display: none;
    .is-open &, .is-active &, .is-selected &, :checked ~ label &, :checked ~ .o-ci-label & {
      display: block;
    }
  }
}

.ui-helper-hidden-accessible {
  @include acc-hide(clip);
}

