<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <h1 class="u-acc-hide">Orange Test</h1>
    <p class="h4">Orange Test</p>
    <div id="app" class="user-list__container"></div>
</body>
</html>